/* MEDIA QUERIES ======================================= */


@media (max-width: 768px) {
    .desktop-menu {
        display: none; /* Hides the desktop menu on screen-sizes of 768px or smaller */
    }

    .jumbo-bg {
        height: 100vh;
        background-image: url(./Filer/Bilder/abstract-bg-purple2-tall-big.png);
    }

    .jumbo-text-area {
        text-align: center;
        position: static;
        transform: none;
        padding-top: 30%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .btn-jumbo-1 {
        margin-bottom: 1rem;
    }

    .btn-nav {
        margin-bottom: 1rem;
        margin-left: 0;
        font-size: 20px;
        padding: 0.5rem 1.5rem;
    }

    .logo {
        margin-top: 0rem;
        margin-left: 1.5rem;
    }

    main {
        text-align: center;
        background-image: url(./Filer/Bilder/abstract-bg-purple-tall-big.png);
    }

    main img {
        width: 10rem;
        z-index: 9;
        border: 5px solid var(--clr-btn);
        border-radius: 1000px;
        box-shadow: 3px 3px 10px rgb(29, 29, 29);

        position: absolute;

        top: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-text-area {
        margin: 0 1rem;
    }

    #contact-me {
        padding-top: 2rem;
    }

    .footer-section-1 {
        display: none;
    }
    
    .footer-section-2 {
        display: none;
    }

    .footer-section-3 {
        width: 100%;
        text-align: center;
    }
}

/* BIGGER MOBILE PHONES */
@media (max-width: 440px) {
    main img {
        top: 10%;
    }

    .jumbo-text-area {
        padding-top: 30%;
    }

    footer i {
        margin: 1.5rem 1rem;
    }

    .jumbo-bg {
        height: inherit;
        padding-bottom: 3rem;
    }
}

/* SMALLER MOBILE PHONES */
@media (max-width: 340px) {
    main img {
        top: 9%;
    }

    .jumbo-text-area {
        padding-top: 35%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .main-text-area {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 3rem;
        padding-top: 65%;
    }

    footer i {
        margin: 1rem .5rem;
        font-size: 1.25rem;
        padding: 0.6rem;
    }

    .jumbo-bg {
        height: inherit;
        padding-bottom: 3rem;
    }
}

/* Hides the hamburger menu on screen-sizes of 801px or bigger */
@media (min-width: 769px) {
    .hamburger-menu {
        display: none;
    }
}
