html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Montserrat;
}

:root {

    --clr-btn: rgb(241, 159, 8);
    --clr-text-light: white;
    --clr-text-black: black;
    --clr-text-dark: rgb(71, 71, 71);
    --clr-text-tint: rgb(200, 200, 200);
    --clr-active-header: rgb(121, 55, 243);
}

a {
    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 500;
}

button {
    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 500;
}



/* REUSABLE CLASSES ================================================ */

.flex {
    display: flex;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed {
    position: fixed;
}

.display-none {
    display: none;
    transition: all 300ms ease-in-out;
}

.remove-scroll {
    overflow-y: hidden;
}

