html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Montserrat;
}

:root {
    /* --clr-btn: rgb(97, 187, 209); */
    /* --clr-btn: rgb(0, 0, 0); */
    --clr-btn: rgb(241, 159, 8);
    --clr-text-light: white;
    --clr-text-black: black;
    --clr-text-dark: rgb(71, 71, 71);
    --clr-text-tint: rgb(200, 200, 200);
    --clr-orange-gradient: linear-gradient(90deg, rgba(250,157,63,1) 0%, rgba(255,167,0,1) 48%, rgba(255,210,0,1) 100%);
}

a {
    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 500;
}

button {
    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 500;
}

/* DARK RED: rgb(161, 47, 47); */



/* REUSABLE CLASSES ================================================ */

.flex {
    display: flex;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed {
    position: fixed;
}



/* HEADER ========================================================== */

header {
    text-align: center;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    z-index: 10000;
    position: fixed;
    transition: all 500ms;
}

header.active {
    text-align: center;
    height: 5rem;
    background-color: rgb(140, 0, 255);
    /* background-color: white; */
    width: 100%;
    z-index: 10000;
    position: fixed;
    transition: all 400ms;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.308)
}

/* NAV ============================================================= */

.logo {
    width: 30%;
    float: left;
    line-height: 5rem;
    white-space: nowrap;
}

.logo a {
    text-decoration: none;
    font-size: clamp(1.5rem, 2.25vw, 3rem);
    font-family: 'Norican', serif;
    font-weight: 200;
    color: var(--clr-text-light);
    /* color: var(--clr-text-black); */
    /* text-shadow: 1px 1px 6px rgb(54, 54, 54); */
}

nav {
    float: right;
    line-height: 5rem;
    margin-right: 5%;
}

nav a {
    text-decoration: none;
    font-size: clamp(0.75rem, 1.1vw, 2rem);
    margin: 0 15px;
    color: var(--clr-text-light);
    /* color: var(--clr-text-black); */
    /* text-shadow: 1px 1px 6px rgb(54, 54, 54); */
    transition: all 300ms ease-in-out 0s;
}

nav a:hover {
    color: var(--clr-text-tint);
    text-shadow: none;
}

/* HAMBURGER MENU ================================================ */

.hamburger-menu {
    text-align: center;
    transition: all 200ms ease-in-out;

}

#menu-icon {
    color: white;
    float: right;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 100px;
    background-color: var(--clr-btn);
    box-shadow: 2px 2px 6px rgba(66, 66, 66, 0.418);
    margin-top: 1.25rem;
    margin-right: 1rem;
    transition: all 300ms ease-in-out;
}

.hamburger-menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-text-dark);
    height: 100vh;
    padding-top: 2rem;

    transition: all 200ms ease-in-out;
    
}

.hamburger-menu-nav a {
    padding: 2rem 0;
    font-size: 20px;
}

.hamburger-menu-nav {
    padding: 2rem 0;
    font-size: 20px;
}



/* BUTTONS ======================================================== */

.btn {
    padding: 0.5rem 1rem;
    background-color: var(--clr-btn);
    border: 2px solid var(--clr-btn);
    
    border-radius: 50rem;
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    font-family: 'Montserrat';
}

.btn-nav {
    padding: 0.5rem 1rem;
    background-color: var(--clr-btn);
    border: 2px solid  var(--clr-btn);
    /* border-radius: 50rem; */
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    margin-left: 1rem;
    font-family: 'Montserrat';
}

.btn:hover {
    background-color: rgba(91, 171, 197, 0);
    border: 2px solid var(--clr-btn);
    color: var(--clr-text-light);
}

.btn-jumbo-2 {
    margin-left: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    color: var(--clr-text-light);
}

.btn-jumbo-2:hover {
    background-color: var(--clr-btn);
    color: var(--clr-text-white);
}



/* JUMBROTRON =================================================== */

.jumbo-bg {
    background-image: url(./Filer/Bilder/abstract-bg-purple2.png);
    background-color: rgb(51, 51, 51);
    height: 45rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    z-index: 10;
}

.jumbo-text-area {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-light);

    /* color: var(--clr-text-black); */
}

.jumbo-text-area p {
    /* text-shadow: 1px 1px 4px rgb(54, 54, 54); */
    font-weight: 600;
    line-height: 1.6em;
    font-size: clamp(1rem, 1.25vw, 2rem);
}

.jumbo-text-area h2 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 3.25vw, 4rem);
    margin: 0;
    font-weight: 800;
    text-shadow: 2px 2px 6px rgba(54, 54, 54, 0.521);
}

/* EXPERIENCES ============================================== */

.experiences {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.card {
    height: 20rem;
    width: 95%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 7px #00000020;
    text-align: center;
}

.card i {
    font-size: 1.75rem;
    background-color: rgb(228, 228, 228);
    padding: 0.8rem;
    border-radius: 100rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
}

.icons {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.icons ul {
    padding-inline-start: 0;
}

.icons li {
    list-style: none;
}

/* MAIN ====================================================== */

main {
    background-image: url(./Filer/Bilder/palm-trees-dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    position: relative;

    background-color: var(--clr-text-dark);
}

main img {
    width: 16rem;
    z-index: 9;
    border: 5px solid var(--clr-btn);
    border-radius: 1000px;
    box-shadow: 3px 3px 10px rgb(29, 29, 29);
    position: absolute;
    top: 25%;
    left: calc(100% - 18rem);
}

main h3 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(1.25rem, 3.5vw, 3rem);
    margin: 0;
    font-weight: 800;
    text-shadow: 2px 2px 6px rgb(54, 54, 54);
}

main p {
    font-size: clamp(.9rem, 1.25vw, 2rem);
    line-height: 1.5rem;
    font-weight: 500;
}

.main-text-area {
    color: var(--clr-text-light);
    padding: 5rem 3rem;
    margin-left: 5rem;
    margin-right: 16rem;
    z-index: 10;

    position: relative;
}

/* FOOTER ============================================================= */

footer {
    background-color: var(--clr-text-tint);
    text-align: center;
}

footer i {
    font-size: 1.75rem;
    background-color: var(--clr-btn);
    padding: 0.8rem;
    border-radius: 100px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    margin: 2.5rem 1rem;
}

footer i:hover {
    background-color: rgb(68, 149, 187);
}



/* TO-DO LIST

    Hamb-meny animation
    lägg till nummer vid klick på telefon-ikonen i footer
    hitta nytt tysnitt / byt typsnitt på rubriker eller på logga, ej samma!

*/


.display-none {
    display: none;
    overflow-y: hidden;
}

